@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*facilita o layout responsivo*/
  font-family: "Roboto", arial;
  scroll-behavior: smooth;
  /*rolagem suave*/
}

body {
  color: #f0f0f0;
  font-family: 'Roboto', arial;
  line-height: 1.6;
}

header {
  background-color: #090909;
  border-bottom: 2px solid #222;
  padding: 1rem 5rem;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}

.header-container {
  display: flex;
  gap: 10px;
}

.header-container h1 {
  font-weight: lighter;
  font-size: 30px;
}

.logo {
  height: 100px;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
}

ul {
  display: flex;
  gap: 40px;
  list-style: none;
}

nav {
  display: flex;
  justify-content: end;
  flex-direction: row;
}

nav a,
span {
  color: #cccccc;
  text-decoration: none;
  font-size: 1.4rem;
}

.atual {
  color: #b084f8;
}

nav a:hover {
  color: #b084f8;
}

/* Fim da nav/header */

/* section hero */
.title {
  font-size: 2.2rem;
}

.section-hero {
  display: flex;
  gap: 1.5rem;
  padding: 2rem 5rem 0 5rem;
  background-color: #0f0f0f;
  border-bottom: solid 2px #222;
  flex-wrap: wrap;
}

.container-hero {
  flex: 1;
  max-width: 600px;
}

.highlight1 {
  font-size: 2.2rem;
  color: #b084f8;
}

.highlight {
  font-size: 1rem;
  color: #b084f8;
  margin-left: 8px;
}

.sub-titulo {
  font-size: 1rem;
  color: #ccc;
  margin-top: 1rem;
  padding-right: 4px;
}

p {
  font-size: 1.5rem;
  margin: 1rem 0;
  color: #fffffe;
}

.btn {
  display: flex;
  width: 57%;
  background-color: #7256c8;
  color: #fffffe;
  font-size: 25px;
  border-radius: 28px;
  text-decoration: none;
  justify-content: center;
}

.btn:hover {
  background-color: #6d28d9;
}

.hero-image {
  max-width: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.hero-image img {
  align-content: center;
  max-width: 100%;
  border-radius: 12px;
  box-shadow: 10px 12px rgba(0, 0, 0, 0.5);
}

/* Frase bíblica */
.verse {
  text-align: center;
  font-style: italic;
  margin: 1rem auto;
  color: #cccccc;
  font-size: 1rem;
}

.verse-bible {
  width: 100%;
  display: flex;
  justify-content: center;
  /* Alinha conteúdo no centro */
  font-style: italic;
  color: #bbb;
  font-size: 1rem;
  margin: 3rem 0 10px 0;
}

/* Fim da section hero */

/* Info Cards */
.section-info {
  display: flex;
  justify-content: center;
  padding: 2rem 5rem;
  padding-bottom: 6rem;
  background-color: #16161a;
  border-bottom: solid 2px #222;
  flex-wrap: wrap;
}

.title-info {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 2.2rem;
  margin-bottom: 4rem;
}

.container-cards {
  display: flex;
  gap: 2rem;
}

.card {
  background-color: #1f1f1f;
  padding: 2rem;
  border-radius: 40px;
  box-shadow: 12px 12px rgba(0, 0, 0, 0.5);
}

b {
  color: #b084f8;
}

.card p {
  font-size: 1.2rem;
}

.card h2 {
  font-size: 2rem;
  text-align: center;
}

/* Fim da section info */


/* section statistic */

.section-statistic {
  display: flex;
  gap: 1.5rem;
  padding: 2rem 5rem 0 5rem;
  background-color: #0f0f0f;
  border-bottom: solid 2px #222;
  flex-wrap: wrap;
}

.container-statistic {
  flex: 1;
  max-width: 700px;
}

.statistic-text {
  background-color: #222;
  box-shadow: 10px 8px rgba(0, 0, 0, 0.5);
  padding: 1rem;
  border-radius: 20px;
}

.statistic-text h2 {
  font-size: 1.5rem;
}

.statistic-text p {
  font-size: 1.1rem;
}

canvas {
  background-color: #222;
  padding: 1rem;
  max-width: 520px;
  max-height: 384px;
  border-radius: 20px;
  box-shadow: 10px 8px rgba(0, 0, 0, 0.5);
}

.kpis {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 163px;
  max-height: 384px;
}

.kpi-box {
  background-color: #222;
  border: solid 1px #b084f8;
  box-shadow: 10px 8px rgba(0, 0, 0, 0.5);
  padding: 1rem;
  border-radius: 20px;
  text-align: center;
}

.kpi-box span {
  font-size: 1rem;
}

.kpi-box select {
  background-color: #7256c8;
  color: white;
  border: black;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 20px;
  width: 100%;
  text-align: center;
}

.kpi-box select:hover {
  background-color: #6d28d9;
}

.kpi-media {
  font-size: 1.2rem;
  color: #ccc;
  margin: 0;
  height: 53px;
}

.tempo {
  color: #cccccc;
  text-align: center;
  font-size: 0.7rem;
  margin: 0;
}
/* Fim da section statistic */


/* Footer */

footer {
  display: flex;
  background-color: #000000;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.social {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  gap: 5rem;
  text-align: center;
}

.container-social > ul {
  margin-bottom: 15px;
  justify-content: center;
  font-weight: bolder;
}

.container-social > p {
  font-size: 1.2rem;
}

.container-social ul:first-of-type a {
  color: #6d28d9;
  text-decoration: none;
  font-size: large;
}

.container-social ul > a:hover {
  color: #b084f8;
  text-decoration: underline;
}

.container-social ul:nth-of-type(2) a {
  color: #ffffff;
  text-decoration: none;
  font-size: large;
}

.container-social ul:nth-of-type(2) a:hover {
  color: #b084f8;
  text-decoration: underline;
}

.author {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}