@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*facilita o layout responsivo*/
  font-family: "Roboto", arial;
  scroll-behavior: smooth;
  /*rolagem suave*/
}

body {
  color: #f0f0f0;
  font-family: 'Roboto', arial;
  line-height: 1.6;
}

header {
  background-color: #090909;
  border-bottom: 2px solid #222;
  padding: 1rem 5rem;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}

.header-container {
  display: flex;
  gap: 10px;
}

.header-container h1 {
  font-weight: lighter;
  font-size: 30px;
}

.logo {
  height: 100px;
}

ul {
  display: flex;
  gap: 40px;
  list-style: none;
}

nav {
  display: flex;
  justify-content: end;
  flex-direction: row;
}

nav a,
span {
  color: #cccccc;
  text-decoration: none;
  font-size: 1.4rem;
}

.atual {
  color: #b084f8;
}

nav a:hover {
  color: #b084f8;
}

/* Fim da nav/header */

.title {
  font-size: 2.5rem;
}

.section-hero {
  display: flex;
  /* Melhor que grid nesse caso */
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 5rem 0 5rem;
  background-color: #0f0f0f;
  border-bottom: solid 2px #222;
  flex-wrap: wrap;
}

.container-hero {
  flex: 1;
  max-width: 600px;
}

.highlight1 {
  font-size: 2.5rem;
  color: #b084f8;
}

.highlight {
  font-size: 1.3rem;
  color: #b084f8;
  margin-left: 8px;
}

.sub-titulo {
  font-size: 1.3rem;
  color: #ccc;
  margin-top: 1rem;
}

p {
  font-size: 1.5rem;
  margin: 1rem 0;
  color: #fffffe;
}

.btn {
  display: flex;
  width: 57%;
  background-color: #7256c8;
  color: #fffffe;
  font-size: 25px;
  border-radius: 28px;
  text-decoration: none;
  justify-content: center;
}

.btn:hover {
  background-color: #6d28d9;
}

.hero-image {
  max-width: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.hero-image img {
  align-content: center;
  max-width: 100%;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
}

/* Frase bíblica */
.verse {
  text-align: center;
  font-style: italic;
  margin: 1rem auto;
  color: #cccccc;
  font-size: 1.3rem;
}

.verse-bible {
  width: 100%;
  display: flex;
  justify-content: center; /* Alinha conteúdo no centro */
  font-style: italic;
  color: #bbb;
  font-size: 1.3rem;
  margin: 5rem 0 10px 0;
}
/* Fim da section hero */


/* Info Cards */
.section-info {
  display: flex;
  justify-content: center;
  padding: 2rem 5rem;
  background-color: #16161a;
  border-bottom: solid 2px #222;
}

.card {
  background-color: #1f1f1f;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  max-width: 400px;

}

.card h2 {
  margin-bottom: 1rem;
  color: #fff;
}

.card p {
  font-size: 0.9rem;
  color: #ccc;
}

/*estatisticas*/
.estatisticas {
  padding: 2rem;
  background-color: #1e1e1e;
  color: #fff;
}

.section-statistic-conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  align-items: flex-start;
}

.card.text {
  max-width: 100%;
}

.chart-container {
  background-color: #2a2a2a;
  padding: 1rem;
  border-radius: 8px;
}

canvas {
  width: 100% !important;
  height: auto !important;
  max-width: 400px;
}

.kpis {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.kpi-box {
  background-color: #2a2a2a;
  padding: 1rem;
  border-radius: 8px;
  text-align: center;
  min-width: 200px;
}

.kpi-box select {
  background-color: #6c5ce7;
  color: #fff;
  border: none;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 5px;
}

.tempo {
  text-align: right;
  font-size: 0.8rem;
  opacity: 0.7;
}

.hero-verse {
  text-align: center;
  margin-top: 2rem;
  font-style: italic;
  font-size: 0.9rem;
  color: #ccc;
}

.highlight {
  color: #b388ff;
}

/* Footer */
footer {
  background-color: #090909;
  text-align: center;
  padding: 1.5rem;
  color: #888;
  font-size: 0.85rem;
}

footer .social {
  margin-bottom: 1rem;
}

footer .social a {
  margin: 0 0.8rem;
  color: #b084f8;
  text-decoration: none;
}

footer .social a:hover {
  text-decoration: underline;
}